@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

.text-poppins {
    font-family: 'Poppins', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}